main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  overflow-x: auto;
}

main > div {
  margin-top: 5rem;
}
/* main > * {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
} */

/* ************** */
/* BANNER NAVBAR  */
/* ************** */
nav#banner {
  background: linear-gradient(45deg,#5a616d,#8492a6);
}

/* Navbar buttons */
button#add-button, button#search-button {
  background-color: #6E83A3;
  border-color: white;
}
button#add-button:hover, button#search-button:hover {
  background-color: #769ACD;
}


/* Navbar input fields */
input#add-input, input#search-input {
  background-color: #8492a6;
}
input#add-input:focus, input#search-input:focus {
  background-color: white;
}


/* ************** */
/* SIDEBAR        */
/* ************** */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


/* ************** */
/* DOCUMENT       */
/* ************** */
.doc_border {
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
  /* background-color: #F5F5F5 !important; */
  border-style: solid;
  border-width: 20px;
  border-color: #F5F5F5;
  padding: 5px;
  background-color: #fcfcfc;
}
/* document navbar section */

nav#document > div {
  padding-left: 0;
}

nav#document ul {
  padding: 0;
}

#documentinfo {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
#documentinfo li {
    display: inline-block;
    padding: 0;
}
#documentinfo li:last-child, #documentinfo li:last-child a {
    color: #999;
}
#documentinfo ol.breadcrumb {
  font-size: small;
}
#document_name {
  font-size: xx-large;
  font-weight: bold;
}
.lastupdate {
    display: block;
    font-size: small;
    font-style: italic;
    color: #999;
    padding: 0;
    margin: 0;
}

/* breadcrumb */
.breadcrumb {
  margin: 0;
}

#documentinfo nav {
  --bs-breadcrumb-divider: '>';
}

/* **************************** */
/* NAVIGATION DROPDOWN MENUS */
/* **************************** */

/* ALIGN menu right aligned overwriting BS5 setting*/
.dropdown-menu[data-bs-popper] {
 top:100%;
 right:0;
 left:auto;
 margin-top:.125rem
}

/* POSITION icons in menu with space */
a.dropdown-item[class^="bi-"]::before,
a.dropdown-item[class*=" bi-"]::before  {
  margin-right: 20px;
  color: #EEB311;
}

.dropdown-toggle { outline: 0; }

.nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
